table, th, td{
  border: 1px solid blue;
  /*border-collapse:collapse;*/
}

.off-day {
	background: DarkGray;
}

.preferred-off-day {
	background: LightGray;
}

.preferred-shift {
	background: yellow;
}

.line-1-morning-shift {
	margin: 2px;
	background: LightYellow;
    background-image: url("/images/sun.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.line-2-morning-shift {
	margin: 2px;
	background: LightGreen;
    background-image: url("/images/sun.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.line-3-morning-shift {
	margin: 2px;
	background: OliveDrab;
    background-image: url("/images/sun.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.line-1-late-shift {
	margin: 2px;
	background: LightYellow;
    background-image: url("/images/moon.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.line-2-late-shift {
	margin: 2px;
	background: LightGreen;
    background-image: url("/images/moon.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.line-3-late-shift {
	margin: 2px;
	background: OliveDrab;
    background-image: url("/images/moon.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.selected {
	border: 2px dotted black;
}

td {
	height: 20px;
	width: 20px;
}